.AutocompleteList {
  max-height: 200px;
  overflow: auto;
  background-color: white;
}

.AutocompleteList > .pokemon-list {
  list-style-type: none;
  border: 1px solid;
  margin: 0;
  padding: 0;
}

.AutocompleteList .pokemon-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.AutocompleteList .highlight {
  color: chocolate;
}

.pokemon-item:hover {
  background-color: lightblue;
}
